body {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
}

/* ----------section header---------- */

.navbar {
  height: 9rem;
  width: 90%;
  background-color: #E3A9A2;
  border-radius: 1.25rem;
  margin: 1rem auto;
}

.logo-nav {
  width: 8%;
  height: auto;
  display: flex;
  margin: auto;

}

ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}


/* ----------animation header----------est-ce que ca devrait être dans un autre css?----- */

.rectangleAnime {
  width: 100%;
  height: 100vh;
  background-color: #E3A9A2;
  top: 0;
  left: 0;
  z-index:10;
  position:fixed;

  animation: shrinkToNavbar 2s ease forwards;  /*-----Nom durée fonction delai nbrItération direction modeRemplissage ÉtatExécution-----*/
  animation-delay: 2s;
}

@keyframes shrinkToNavbar {
  0% {
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
  }
  90%{
    height: 9rem;
    top: 1rem;
    left: 5%;
    width: 90%;
    opacity: 1;
}
100% {
  height: 90%;
  width: 9rem;
  left: 5%;
  top: 1rem;
  opacity: 0;
}
}

.logoAnime {
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 500;
  position: fixed;

  animation: logoFade 4s forwards;
  animation-delay: 0.1s;
}

@keyframes logoFade {
  0%{
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
  }
  30%{
    opacity: 1;
    top: 50%;
    left: 50%;
    }
  70%{
    top: 1.25rem;
    left: 6%;
    width: 8%;
    transform: translate(0,0);

    }
  100%{
    opacity: 1;
    top: 1.25rem;
    left: 6%;
    width: 8%;
    transform: translate(0,0);
  }
}