* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(252, 249, 249);
  color: rgb(0, 0, 0);
}

/* ----------section header------------------------- */

.headerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.imgHero {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.navbar {
  height: 9rem;
  width: 90%;
  background-color: #E3A9A2;
  border-radius: 1.25rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-nav {
  width: 17%;
  height: auto;
}

.osmea {
  font-family: "fredoka", sans-serif;
  font-size: 2.5rem;
  color: #382530;
  text-decoration: none;
}

.navigation {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  padding-right: 2rem;
}

.navigation li a {
  font-family: "lato", sans-serif;
  font-size: 2rem;
  color: #382530;
  text-decoration: none;
}

.navigation li a:hover {
  color: #254166;
  transform: scale(1.1);
}

.recherche input {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

/* ---------zone hero------------ */

.titreContainer {
  font-family: "Poetsen One", sans-serif;
  position: relative;
  text-align: left;
  top: -10%;
  /* -----------------pourquoi ça change tout le temps? */
  left: 10%;
  width: 50%;
}

.titreHero {
  font-size: 3.5rem;
  color: #666DB0;
}

.titreContainer button {
  font-size: 1.5rem;
  font-family: "Poetsen One", sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  color: #E3A9A2;
  border: none;
  margin-top: 1rem;
  background-color: #666DB0;
  transition: 0.2s ease;
}

.titreContainer button:hover {
  background-color: #415f8f;
}


/* ----------animation header---------------- */

.rectangleAnime {
  width: 100%;
  height: 100vh;
  background-color: #E3A9A2;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;

  animation: shrinkToNavbar 3s ease forwards;
  /*-----Nom durée fonction delai nbrItération direction modeRemplissage ÉtatExécution-----*/
  animation-delay: 1.1s;
}

@keyframes shrinkToNavbar {
  0% {
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
  }

  90% {
    height: 9rem;
    top: 1rem;
    left: 5%;
    width: 90%;
    opacity: 1;
    border-radius: 1.25rem;
  }

  100% {
    height: 9rem;
    width: 90%;
    left: 5%;
    top: 1rem;
    opacity: 0;
    border-radius: 1.25rem;
  }
}

.logoAnime {
  width: 70%;
  height: auto;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 500;
  position: fixed;

  animation: logoFade 4s forwards;
  animation-delay: 0.1s;
}

@keyframes logoFade {
  0% {
    opacity: 0;
    top: 50%;
    left: 45%;
    width: 70%;
    transform: translate(-50%, -50%);
  }

  25% {
    opacity: 1;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
  }

  29% {
    opacity: 1;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
  }

  50% {
    opacity: 1;
    top: 2rem;
    left: 45%;
    width: 8%;
  }

  80% {
    opacity: 1;
    top: 1rem;
    left: 5%;
    width: 7%;
    transform: translate(0, 0);

  }

  95% {
    opacity: 1;
    top: 1rem;
    left: 5%;
    width: 7%;
    transform: translate(0, 0);
  }

  100% {
    top: 1rem;
    left: 5%;
    width: 7%;
    transform: translate(0, 0);
  }
}

/* ----------section tendances---------------------------------------------- */
.tendances {
  margin: 3rem 14rem;
}

.tendances h2,
h3,
h4 {
  font-family: "Poetsen One", sans-serif;
  color: #382530;
  margin-bottom: 2rem;
}

.tendances h2 {
  font-size: 2.3rem;
}

.tendances h3 {
  font-size: 1.5rem;
}

.tendances h4 {
  font-size: 1.3rem;
  text-decoration: underline;
  text-align: right;
}

.tendances p {
  font-family: "lato", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.tendance-parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
}

.tendance-parent img {
  width: 60%;
  height: 60%;
  margin-bottom: 2rem;
}

.tendance-enfant {
  padding: 2em 5em 2em 5em;
}

.tendances button {
  background-color: #E2ABA2;
  padding: 1rem 2rem;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
}

.tendances button:hover {
  background-color: #b67e75;
  transform: scale(0.95) translateY(2px);
}

/* ----------section suite---------- */
.suite {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

.suite img {
  width: 50%;
}

.sans-photo {
  width: 50%;
  background-color: #FDE2A5;
}

.suite .texte {
  position: absolute;
  background-color: #7692C0;
  color: white;
  opacity: 80%;
  border-radius: 1em;
  max-width: 800px;
  padding: 2rem;
  font-size: 1.5em;
}


.swiper {
  width: 90%;
  height: 100%;
  background-color: transparent;
  padding: 1.8em;
}


.swiper-slide {
  text-align: center;
  font-size: 3em;
  background: #2d4588;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5em;
  border-radius: 2em;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  color: #E3A9A2;
   opacity: 100%;
}

.swiper-button-next {
  color: #E3A9A2;
}


/* ----------section footer---------- */
.footer-wrapper {
  background-color: #E3A9A2;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em 6em;
}

.colonne h4 {
  padding-bottom: 2em;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.infolettre-form input {
  width: 45%;
  padding: 0.8em;
  border-radius: 1.5em;
}

.infolettre-form button {
  cursor: pointer;
  background-color: #ffffff;

  border-radius: 1.5em;
  padding: 0.8em;
  margin-top: 1em;
}

.footer-reseaux {
  width: 3em;
  height: 3em;

  display: flex;
  flex-direction: row;
  margin-top: 2em;
  gap: 0.5em;
}

.footer-bas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 4em;
}