* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 1px solid rgb(221, 142, 142);    /* voir les outlines des box-----------------*/
}

body {
  color: #4b3441;
}

/* ----------section header------------------Sandra------- */

.headerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.imgHero {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.navbar {
  height: 9rem;
  width: 90%;
  background-color: #E3A9A2;
  border-radius: 1.25rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

/*-----bouton menu burger masqué----*/
.menu-burger {
  display: none;
  width: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}
.menu-burger img {
  width: 2.5rem;
  height: auto;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
}

.logo-nav {
  width: 19%;
  height: auto;
}

.osmea {
  font-family: "fredoka", sans-serif;
  font-size: 2.5rem;
  color: #382530;
  text-decoration: none;
}

.navigation {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  padding-right: 2rem;
  flex-wrap:wrap;
}

.navigation li a {
  font-family: "lato", sans-serif;
  font-size: 2rem;
  color: #382530;
  text-decoration: none;
}

.navigation li a:hover {
  color: #666DB0;
}

.recherche input {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

/* ---------zone hero-----------Sandra------ */

.titreContainer {
  font-family: "Poetsen One", sans-serif;
  position: relative;
  text-align: left;
  top: -20%;
  left: 10%;
  width: 50%;
}

.titreHero {
  font-size: 3.5rem;
  color: #666DB0;
}

.titreContainer button {
  font-size: 1.5rem;
  font-family: "Poetsen One", sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  color: #E3A9A2;
  border: none;
  margin-top: 1rem;
  background-color: #666DB0;
  transition: 0.2s ease;
}

.titreContainer button:hover {
  background-color: #415f8f;
  transform: scale(0.95) translateY(2px);
}


/* ----------animation header-----------Sandra--------- */

.rectangleAnime {
  width: 100%;
  height: 100vh;
  background-color: #E3A9A2;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;

  animation: shrinkToNavbar 3s ease forwards;
  /*-----Nom durée fonction delai nbrItération direction modeRemplissage ÉtatExécution-----*/
  animation-delay: 1.1s;
}

@keyframes shrinkToNavbar {
  0% {
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
  }

  90% {
    height: 9rem;
    top: 1rem;
    left: 5%;
    width: 90%;
    opacity: 1;
    border-radius: 1.25rem;
  }

  99% {
    height: 9rem;
    width: 90%;
    left: 5%;
    top: 1rem;
    opacity: 0;
    border-radius: 1.25rem;
  }

  100% {
    height: 0rem;
    width: 9%;
    left: 5%;
    top: 1rem;
    opacity: 0;
    border-radius: 1.25rem;
  }
}

.logoAnime {
  width: 70%;
  height: auto;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 500;
  position: fixed;

  animation: logoFade 4s forwards;
  animation-delay: 0.1s;
}

@keyframes logoFade {
  0% {
    opacity: 0;
    top: 50%;
    left: 45%;
    width: 70%;
    transform: translate(-50%, -50%);
  }

  25% {
    opacity: 1;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
  }

  29% {
    opacity: 1;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
  }

  50% {
    opacity: 1;
    top: 2rem;
    left: 45%;
    width: 8%;
  }

  80% {
    opacity: 1;
    top: 1.3rem;
    left: 5%;
    width: 7%;
    transform: translate(0, 0);

  }

  99% {
    opacity: 1;
    top: 1.3rem;
    left: 5%;
    width: 7%;
    transform: translate(0, 0);
  }

  100% {
    top: 1.3rem;
    left: 5%;
    width: 7%;
    transform: translate(0, 0);
    opacity: 0;
  }
}

/* ----------section tendances-------------------Structure de base et position Iléona-----Stylisation Sandra--------------------- */
.tendances {
  margin: 3rem 14rem;
}

.tendances h2,
h3,
h4 {
  font-family: "Poetsen One", sans-serif;
  color: #382530;
  margin-bottom: 2rem;
}

.tendances h2 {
  font-size: 2.3rem;
}

.tendances h3 {
  font-size: 1.5rem;
}

.tendances h4 {
  font-size: 1.3rem;
  text-decoration: underline;
  text-align: right;
  cursor: pointer;
}

.tendances p {
  font-family: "lato", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.tendance-parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
}

.tendance-parent img {
  width: 60%;
  height: 60%;
  margin-bottom: 2rem;
}

.tendance-enfant {
  padding: 2em 5em 2em 5em;
}

.tendances button {
  background-color: #E2ABA2;
  padding: 1rem 2rem;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
}

.tendances button:hover {
  background-color: #b67e75;
  transform: scale(0.95) translateY(2px);
}

.tendance-enfant, button, a {
  text-decoration: none;
    color: #382530;
}

/* ----------section suite chez Osméa----------------------Structure de base et position Iléona---------Stylisation Sandra----------------------------------- */
.suite {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FDE2A5;
}

.suite img {
  width: 50%;
}

.sans-photo {
  width: 50%;
  background-color: #FDE2A5;
}

.suite .texte {
  position: absolute;
  background-color: #7692C0;
  color: white;
  opacity: 80%;
  border-radius: 1em;
  max-width: 800px;
  padding: 2.5rem;
  font-size: 1.5em;
  margin-left: 30rem;
}

.texte h2 {
  font-family: "Poetsen One", sans-serif;
  margin-bottom: 2rem;
}

.texte p {
  font-family: "lato", sans-serif;
  font-weight: bold;
}

/* ------------------------------section carrousel nos variétés-----------fait par Iléona-------Sandra petites retouches et intégrations des images------------ */
.varietes {
  justify-content:flex-start;
  display: flex;
  flex-direction: column;


}

.varietes h2 {
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 8.5rem;

}

.swiper {
  width: 90vw;    
  height: 70vh;
  background-color: transparent;
  padding: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 2em;
  font-family: "lato", sans-serif;
  font-weight: bold;
  background: #FDE2A5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2em;
  border-radius: 1em;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 1rem;
  object-fit:inherit;
  margin-bottom: 1rem;
  border: 0.5rem solid #666DB0;
}

.swiper-button-prev,
.swiper-button-next {
  color: #E3A9A2;
  opacity: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 25%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}




/* ----------section footer--------------------Par Iléona---- */
.footer-wrapper {
  background-color: #E3A9A2;
  font-family: "lato", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em 6em;
}

.colonne h4 {
  padding-bottom: 2em;
  color: #926761;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  list-style: none;
}

.footer-container a:hover {
  color: #7692C0;
  cursor: pointer;
}

.footer-container h4:hover {
  color: #7692C0;
  cursor: pointer;
}

.infolettre {
  font-family: "Poetsen One", sans-serif;
}

.infolettre p {
  font-family: "lato", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

.infolettre-form input {
  width: 45%;
  padding: 0.8em;
  border-radius: 1em;
  border: none;
}

.infolettre-form button {
  cursor: pointer;
  background-color: #ffffff;
  border: none;

  border-radius: 1em;
  padding: 0.8em;
  margin-top: 1em;
}

.infolettre-form button:hover {
  background-color: #7692C0;
}

.footer-reseaux {
  width: 3em;
  height: 3em;

  display: flex;
  flex-direction: row;
  margin-top: 2em;
  gap: 0.5em;
}

.footer-bas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 4em;
}





/* ----------------------page 2 produits-----------------Iléona: structure de base et position--------------Sandra stylisation et intégration des images--------------- */

.headerpage2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section1 {
  margin: 5rem 20rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 3em;
}

/* ----------partie gauche---------- */
.gauche {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 20rem;
  gap: 1em;
}

.imgTea img {
  width: 20rem;
  height: 20rem;
  border-radius: 1em;
  border: 0.5rem solid #666DB0;
}

.imgTeaSmall {
  width: 5rem;
  height: 5rem;
  background-color: #666DB0;
  border-radius: 1em;
}

/* ----------partie droite---------- */

.droite {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1em;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-container h2 {
  font-family: "poetsen One", sans-serif;
  font-size: 2rem;
}

.info-container p {
  font-family: "lato", sans-serif;
  margin-top: 2.5rem;
}

.icone-prepation {
  display: flex;
  justify-content: space-between;

}

.icone-prepation img {
  width: 50%;
}

.icone-container {
  width: 50%;
  height: 100%;
}

/* ----------Séparateur---------- */
hr {
  border: none;
  height: 0.5rem;
  background-color: #666DB0;
  width: 100%;
  border-radius: 1rem;
}

/* ----------prix---------- */
.prix-container {
  display: flex;
  flex-wrap: wrap;
}

.prix-container h3 {
  text-decoration: line-through;
  text-align: right;
  font-size: 1.5rem;
}

.prix-container h4 {
  color: #F40000;
  font-size: 1.7rem;
  text-align: right;
}

.prix-container button {
  background-color: #E2ABA2;
  border-radius: 1rem;
  width: 30%;
  height: 60%;
  cursor: pointer;
  border: none;
  font-family: "Poetsen One", sans-serif;
  font-size: 1.5rem;
  color: #382530;
  padding: 0.8rem 1rem;
  margin-left: auto;
  align-self: flex-end;
}

.prix-container button:hover {
  background-color: #b67e75;
}

.prix {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*----------------carrousel---------------------------*/

.carte-variete img {
  width: 30vh;
  height: 45vh;
}

/*----------------Règle le probleme d'inversion de la flèche----------------------*/
.fleche-prev {
  transform: scaleX(-1);
}

/*---------------------media-queries---responsive---------------Majoritairement Iléona----------------------------------------*/

@media screen and (width <= 768px) {


  /*-----------Animation----Sandra----*/
  .rectangleAnime {
    width: 100%;
    height: 100vh;
    background-color: #E3A9A2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: fadeOutRectangle 3s ease forwards;
    animation-delay: 1s;
  }

  @keyframes fadeOutRectangle {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100%{
      opacity: 0;
      height: 0;
    }
  }


  .logoAnime {
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 500;
    animation: logoFadePhone 3s forwards;
    animation-delay: 0.5s;
  }

  @keyframes logoFadePhone {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* ----------header-----Sandra----- */

   .menu-burger {
    display: block; 
    z-index: 101;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .logo-nav {        
  width: 45%;
}


  .recherche input {
    width: 100%;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background-color: #E3A9A2;
    padding: 1rem;
    gap: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .navigation.ouverte {
    display: flex;
  }

  .navigation li a {
    font-size: 1.2rem;
  }

  /* ----------Hero---------- */

  .imgHero {
    width: 100%;
    opacity: 0.5;
  }

  /* ----------Tendances---------- */
  .tendances {
    margin: 1.5rem;
    text-align: center;
  }

  .tendances h4 {
    text-align: center;
  }

  .tendance-parent {
    flex-direction: column;
    align-items: center;
  }

  .tendance-enfant {
    padding: 1.5rem;
  }

  /* ----------Suite---------- */
  .suite {
    flex-direction: column;
  }

  .suite img {
    width: 100%;
  }

  .suite .texte {
    margin: 1.5rem auto;
    font-size: 0.8rem;
    padding: 1em;
  }

  /* ----------Carrousel---------- */
  .varietes {
    margin: 2.5rem;
    text-align: center;
  }

  .varietes img {
    padding: 2rem;
  }

  /* ----------Footer---------- */
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .colonne {
    width: 100%;
  }

  .footer-bas {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  /* ----------Page 2---------- */
  .section1 {
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
  }

  .gauche {
    width: 100%,
  }

  .droite {
    width: 70%;
    text-align: center;
  }


  .icone-prepation {
    flex-direction: column;
    align-items: center;
  }

  .prix-container {
    flex-direction: column;
    align-items: center;
  }

  .prix {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .prix-container button {
    width: 100%;
    font-size: 1.5rem;
  }
}