* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
}

/* ----------section header---------- */

.navbar {
  height: 9rem;
  width: 90%;
  background-color: #E3A9A2;
  border-radius: 1.25rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

.logo-nav {
  width: 8%;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}


/* ----------animation header----------est-ce que ca devrait être dans un autre css?----- */

.rectangleAnime {
  width: 100%;
  height: 100vh;
  background-color: #E3A9A2;
  top: 0;
  left: 0;
  z-index:10;
  position:fixed;

  animation: shrinkToNavbar 3s ease forwards;  /*-----Nom durée fonction delai nbrItération direction modeRemplissage ÉtatExécution-----*/
  animation-delay: 1.1s;
}

@keyframes shrinkToNavbar {
  0% {
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
  }
  90%{
    height: 9rem;
    top: 1rem;
    left: 5%;
    width: 90%;
    opacity: 1;
    border-radius: 1.25rem;
}
100% {
  height: 9rem;
  width: 90%;
  left: 5%;
  top: 1rem;
  opacity: 0;
  border-radius: 1.25rem;
}
}

.logoAnime {
  width: 70%;
  height: auto;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 500;
  position: fixed;

  animation: logoFade 4s forwards;
  animation-delay: 0.1s;
}

@keyframes logoFade {
  0%{
    opacity: 0;
    top: 50%;
    left: 45%;
    width: 70%;
    transform: translate(-50%, -50%);
  }
  25%{
    opacity: 1;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
  29%{
    opacity: 1;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
    }
  50%{
    opacity: 1;
    top:2rem;
    left: 45%;
    width: 8%;
  }  
  80%{
    opacity: 1;
    top:1rem;
    left: 5%;
    width: 7%;
    transform: translate(0,0);

    }
  95%{
    opacity: 1;
    top:1rem;
    left: 5%;
    width: 7%;
    transform: translate(0,0);
    }
  100%{
    top:1rem;
    left: 5%;
    width: 7%;
    transform: translate(0,0);
  }
}
/*----------Footer---------------------------------------*/

.footer-wrapper {
  background-color: #E3A9A2;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em 6em;
}

.colonne h4 {
  padding-bottom: 2em;
}

.footer-container ul{
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.infolettre-form input {
  width: 45%;
  padding: 0.8em;
  border-radius: 1.5em;
}

.infolettre-form button {
  cursor: pointer;
  background-color: #ffffff;

  border-radius: 1.5em;
  padding: 0.8em;
  margin-top: 1em;
}

.footer-reseaux {
  width: 3em;
  height: 3em;

  display: flex;
  flex-direction: row;
  margin-top : 2em;
  gap: 0.5em;
}

.footer-bas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 4em;
}